@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.searchBar {
    font-family: Raleway;
    padding: 15px;
    border-radius: 20px;
    border: 0;
    box-shadow:  inset rgba(0, 0, 0, 25%) 2px 2px 2px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    width: 512px;
    background-color: rgba(255, 255, 255, 30%)

}

.searchBar::placeholder {
  color: #A3A3A3;
}

.searchBar:focus {
  outline: 1px solid var(--skyblue, #00C2FF);
}

.searchBarDiv {
  width: 100%;
  max-width: 512px;
  margin: 0 10px;
}