.center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.textStyle {
  z-index: 99;
  color: black;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.navbar {
  background-color: #ffffff10;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* To push the children to opposite ends horizontally */
  align-items: center;
  /* To center the children vertically */
}

.logo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  display: inline;
  margin: 5px;
  padding: 0;
}

.searchBar {
  padding: 20px;
}