.results-list {
    position:absolute;
    width: 100%;
    max-width: 512px;
    /* margin: 0 10px; */
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 22px;
    max-height: 300px;
    overflow-y: scroll;
    padding-top: 2px;
}

.buttons {
    padding: 10px;
    background-color: rgba(255, 255, 255, 60%);
    border: none;
    cursor: pointer
}