/* create react app defaults */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Global (shared) styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --skyblue: #00C2FF;
}

.textStyle {
  text-decoration: none;
  color: var(--Contrast-Background, #FFF);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}



.cardRoot {
  padding: 20px 12%;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
}

.cardRoot h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin: 0 0 0 0;
}

.cardRoot p {
  margin: 0 0 0 0;
}

.centerText {
  text-align: center;
}

.signupForm {
  width: 100%;
  font-family: Raleway, sans-serif;
  margin-top: 3em;
}

.signupForm label {
  font-family: Raleway;
  font-weight: 400;
  /* margin-top: 10px; */
  position: absolute;
  font-size: 0.8em;
  color: gray;
  user-select: none;
}

.signupForm input {
  font-weight: 400;
  /* display: block; */
  width: 100%;
}

.inputDiv {
  margin-bottom: 1.5625em;
}

.inputDiv.submitContainer {
  display: flex;
  justify-content: center;
}

.signupForm input[type="text"], input[type="password"] {
  font-size: 1em;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  height: 3em;
  border: none;
  /* border: 1px solid black; */
  border-bottom: 2px solid black;
  outline: none;
  margin: 0;
  /* margin-top: 10px; */
  padding: 1em 0px 0px 0px;
  box-sizing: border-box;
}

.signupForm input[type="text"]:focus, input[type="password"]:focus {
  border-color: var(--skyblue, #00C2FF);
}

.signupForm input[type="submit"] {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  padding: 0.9375em 0;
  width: 100%;
  max-width: 9em;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 25%) 0px 2px 2px;
  margin-top: 0.625em;
  background-color: #d9d9d980;
}

.signupForm input[type="submit"]:hover {
  background-color: #d9d9d9ff
}

.signupForm input[type="submit"]:focus-visible {
  outline: solid 2px var(--skyblue);
}